*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: poppins;  
}
.page2{
    width: 100%;
    background-color: #0779BF;
}
.font{
    font-size: 2rem;
    padding: 2vw;
    color: #fff;
    margin-bottom: 0vw;
    margin-left: 7vw;
    font-weight: 600;
}
.box{
    padding: 2vw;
}
.b1, .b2, .b3{
    display: flex;
    gap: 2vw;
    margin-bottom: 2vw;
    justify-content: center;
}
.a1, .a2, .a3{
    width: 20%;
    border: solid 3px #00A4E9;
    background-color: #00A4E9;
    border-radius: 20px;
    overflow: hidden;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
.boll{
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    background-color: #fff;
    position: absolute;
    margin-top: -2.9vw;
}
.a1 h1{
    margin: 0;
    font-size: 2rem;
    color: #ffff;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-weight: 600;
}
.a2 h1{
    margin: 0;
    font-size: 2rem;
    color: #ffff;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-weight: 600;
}
.a3 h1{
    margin: 0;
    font-size: 2rem;
    color: #ffff;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-weight: 600;
}
.a1 a{
    color: #ffff;
}
.a2 a{
    color: #ffff;
}
.a3 a{
    color: #ffff;
}
.a1 img{
    width: 86%;
    padding: 2vw;
}
.a2 img{
    width: 86%;
    padding: 2vw;
}
.a3 img{
    width: 86%;
    padding: 2vw;
}
.y20{
    padding: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 2vw;
}
.y20 img{
    width: 100%;
    margin-bottom: 3vw;
}
.y20 p{
    font-size: 1.5rem;
    font-weight: 500;
}
.y21 p{
    font-size: 1.7rem;
    font-weight: 500;
    margin-left: 6vw;
}
.y22{
    padding: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 2vw;
}
.y22 h1{
    font-size: 2rem;
    font-weight: 600;
}
.y22 p{
    font-size: 1.5rem;
    font-weight: 500;
}
.y23{
    width: 86%;
    height: 60vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 5vw;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}
.font1{
    font-size: 2rem;
    background-color: #ffff;
    padding-left: 2vw;
}
.box2{
    width: 100%;
    /* margin-bottom: 10vw; */
}
.t1, .t2{
    /* width: 100%; */
    display: flex;
    gap: 10vw;
    justify-content: center;
    background-color: rgb(224, 239, 239);
    margin-bottom: 8vw;
}
.box3{
    width: 100%;
    padding: 2vw;
}
.box3 h1{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2vw;
}
.box3 button{
    background-color: rgb(36, 156, 255);
    font-size: 1.5rem;
    padding: 1vw;
    border-radius: 10px;
    border: none;
    color: #fff;
    /* margin-left: 38vw; */
}
.box3 button:hover{
    background-color: #017bfe;
    transition: .5s;
}
.Legal{
    margin: 4vw;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 10vw;
}
.p20{
    display: flex;
    width: 100%;
}
.benefit{
    margin: 4vw;
    font-weight: 700;
    font-size: 2rem;
    margin-left: 5vw;
    margin-top: 1vw;
}
.p1{
    width: 52%;
    padding: 5vw;
    padding-right: 1vw;
    padding-top: 0vw;
    padding-left: 7vw;
}
.p1 h1{
    font-size: 2rem;
}
.p1 p{
    font-size: 1.5rem;
    font-weight: 500;
}
.p2{
    width: 44%;
    display: flex;
    justify-content: center;
    padding: 5vw;
    padding-left: 1vw;
    padding-top: 0vw;
}
.p2 img{
    /* width: 80%; */
    height: 27vw;
    border-radius: 5px;
}
.page3 h2{
    font-size: 2rem;
    padding-left: 4vw;
}
.p21, .p23{
    display: flex;
    /* width: 90%; */
    justify-content: center;
    padding: 4vw;
    padding-bottom: 0vw;
    padding-top: 0vw;
}
.i1, .i2, .i3{
    width: 30%;
    border-right: 2px solid rgb(225, 225, 225);
    padding: 2vw;
    border-bottom: 2px solid rgb(225, 225, 225);
}
.i4{
    width: 30%;
    padding: 2vw;
    border-bottom: 2px solid rgb(225, 225, 225);
}
.ii1, .ii2, .ii3{
    width: 30%;
    border-right: 2px solid rgb(225, 225, 225);
    padding: 2vw;
}
.ii4{
    width: 30%;
    padding: 2vw;
}
.i1 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.i1 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.i1 img{
    width: 70%;
    margin-left: 2.5vw;
}
.i2 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.i2 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.i2 img{
    width: 70%;
    margin-left: 2.5vw;
}
.i3 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.i3 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.i3 img{
    width: 70%;
    margin-left: 2.5vw;
}
.i4 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.i4 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.i4 img{
    width: 70%;
    margin-left: 2.5vw;
}
.ii1 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.ii1 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.ii1 img{
    width: 70%;
    margin-left: 2.5vw;
}
.ii2 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.ii2 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.ii2 img{
    width: 70%;
    margin-left: 2.5vw;
}
.ii3 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.ii3 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.ii3 img{
    width: 70%;
    margin-left: 2.5vw;
}
.ii4 h1{ 
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    font-weight: 600;
}
.ii4 p{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
}
.ii4 img{
    width: 70%;
    margin-left: 2.5vw;
}
.p22{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    background-color: #99c34e;
    gap: 2vw;
    padding: 3vw;
    /* padding-left: 10vw; */
    margin-top: 5vw;
}
.p22 h1{
    font-size: 2.5rem;
    color: #ffff;
}
.p22 button{
    background: transparent;
    border: 3px solid #ffff;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    margin: 1vw;
}
.p22 button:hover{
    background-color: #0E89B9;
    transition: .5s;
}
.page4{
    width: 100%;
}
.eng{
    /* width: 80%; */
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 2vw;
    border: 3px solid green;
    border-radius: 15px;
    margin-left: 7vw;
    margin-right: 7vw;
}
.eng p{
    font-size: 1.7rem;
    font-weight: 500;
}
.m1, .m2, .m3{
    width: 30%;
    padding: 2vw;
    font-size: 1.5rem;
}
.page5{
    width: 100%;
}
.cases{
    font-size: 2rem;
    padding-left: 7vw;
    margin-top: 8vw;
    font-weight: 700;
}
.ess{
    margin-top: 4vw;
}
.ess h2{
    font-size: 2rem;
    padding-left: 8vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-bottom: 2vw;
}
.ess p{
    font-size: 1.5rem;
    padding-left: 8vw;
    font-weight: 500;
    margin-bottom: 0vw;
}
.ess1{
    margin-top: 4vw;
}
.ess1 h2{
    font-size: 2rem;
    padding-left: 3vw;
    font-weight: 700;
    margin-left: 2vw;
    padding-bottom: 2vw;
}
.ess1 p{
    margin-bottom: 0vw;
    font-size: 1.5rem;
    padding-left: 8vw;
    font-weight: 500;
}
.sec1{
    display: flex;
    align-items: center;
}
.fap1{
    /* width: 90%; */
    padding: 2vw;
}
.h1{
    display: flex;
    justify-content: flex-end;
}
.h1 h1{
    font-size: 2rem;
    padding: 2vw;
    font-weight: 700;
}
.rec, .rec1, .rec2{
    /* width: 100%; */
    display: flex;
    justify-content: center;
    gap: 6vw;
    margin-bottom: 2vw;
    font-size: 1.3rem;
}
.sec1 img{
    border-radius: 10px;
    height: 34vw;
}
.rec1 img{
    border-radius: 10px;
    /* height: 25vw; */
}
.rec2 img{
    border-radius: 10px;
    /* height: 25vw; */
}
.accurate{
    margin-bottom: -.5vw;
    font-size: 1.6rem;
    font-weight: 700;
}
.ensuring{
    margin-bottom: .5vw;
    font-size: 1.6rem;
    margin-left: 2vw;
    font-weight: 600;
}
.p25{
    background-color: #E0EEFF;
    padding: 2vw;
    /* padding-left: 10vw; */
    margin-top: 5vw;
}
.p25 h1{
    font-size: 1.9rem;
    font-weight: 600;
    margin-left: 5vw;
    margin-bottom: 2vw;
    color: #000;
}
.p25 p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 8vw;
    color: #000;
}
.p26{
    background-color: #0098D7;
    padding: 2vw;
    margin-top: 5vw;
}
.p26 h1{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #ffff;
}
.btn44{
    display: flex;
    justify-content: center;
}
.btn44 button{
    font-size: 2rem;
    font-weight: 500;
}
.p26 button{
    background: transparent;
    border: 3px solid #ffff;
    border-radius: 10px;
    color: #fff;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    margin: 1vw;
}
.p26 button:hover{
    background-color: #62A619;
    transition: .5s;
}
.p27{
    background-color: #E0EEFF;
    padding: 2vw;
}
.p28{
    background-color: #E0EEFF;
}
.p28 p{
    font-size: 1.5rem;
    padding-bottom: 4vw;
    margin-left: 10vw;
    font-weight: 500;
    margin-bottom: 0;
}
.p15, .p16{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 2vw;
}
.pi1{
    width: 21%;
    background-color: #00A4E9;
    border-radius: 15px;
    padding: 1vw;
}
.pi1 h1{
    margin-top: 2vw;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 0;
}
.pi1 p{
    font-size: .9rem;
    font-weight: 400;
    color: #ffff;
    text-align: center;
    margin: 0;
}
.boll1{
    border-radius: 50%;
    height: 4vw;
    width: 4vw;
    background-color: #fff;
    position: absolute;
    margin-top: -2.9vw;
    margin-left: 7vw;
    border: 3px solid #0098D7;
}
.p29{
    padding: 2vw;
    /* padding-left: 10vw; */
    margin-top: 5vw;
}
.p29 h1{
    font-size: 1.9rem;
    font-weight: 600;
    margin-left: 5vw;
    margin-bottom: 2vw;
    color: #000;
}
.p30{
    padding: 2vw;
    margin-top: 5vw;
}
.p30 h1{
    font-size: 3.4rem;
    text-align: center;
    font-weight: 600;
    margin-left: 5vw;
    margin-bottom: 2vw;
    color: #000;
}
.p32{
    display: flex;
    justify-content: center;
}
.p32 button{
    background-color: #0098D7;
    padding: 2vw;
    font-size: 2.5rem;
    color: #ffff;
    border-radius: 20px;
    border: none;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.box5{
    display: flex;
    justify-content: center;
    margin-bottom: 6vw;
    pointer-events: none;
}
.box6 img{
    width: 85%;
    pointer-events: none;
}
.box7{
    display: grid;
    pointer-events: none;
}
.box7 img{
    width: 85%;
    pointer-events: none;
}
.page6{
    margin-bottom: 4vw;
}
.page7 h1{
    text-align: center;
    font-size: 2rem;
    margin: 2vw;
    font-weight: 600;
}
.page7{
    width: 100%;
    background-color: #E0EEFF;
    padding: 10vw;
}
.box55{
  width: 80%;
  background-color: #fff;
  margin-left: 8vw;
  border-radius: 15px;
  /* color: #fff; */
  padding: 5vw;
  font-size: 1rem;
  text-align: center;
}
.boll3{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}
.boll3 img{
    width: 10%;
}
.p31 h1{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}
.p31 p{
    font-size: 1rem;
    font-weight: 400;
    color: #8e8e8e;
    margin: 0;
}








@media screen and (max-width: 970px){
    .b1, .b2, .b3{
        display: inline;
    }
    .a1, .a2, .a3{
        margin-bottom: 2vw;
        width: 100%;
    }
    .t1, .t2{
        display: inline;
    }
    .r1, .r2, .r3, .r4, .r5{
       margin-left: 5vw;
       width: 90%;
    }
    .p20, .p21, .p23{
        display: inline;
    }
    .p1, .p2{
        width: 100%;
        padding: 2vw;
    }
    .p2 img{
        height: 50vw;
    }
    .i1, .i2, .i3, .i4{
        width: 90%;
        border-bottom: 2px solid #8a8a8a;
        border-right: none;
        margin-left: 3vw;
    }
    .ii1, .ii2, .ii3, .ii4{
        width: 90%;
        border-bottom: 2px solid #8a8a8a;
        border-right: none;
        margin-left: 3vw;
    }
    .i1 img{
        margin-left: 13vw;
    }
    .i2 img{
        margin-left: 13vw;
    }
    .i3 img{
        margin-left: 13vw;
    }
    .i4 img{
        margin-left: 13vw;
    }
    .ii1 img{
        margin-left: 13vw;
    }
    .ii2 img{
        margin-left: 13vw;
    }
    .ii3 img{
        margin-left: 13vw;
    }
    .ii4 img{
        margin-left: 13vw;
    }
    .rec, .rec1, .rec2{
        display: inline;
    }
    .rec img{
        width: 100%;
        height: 100%;
    }
    .rec1 img{
        margin-bottom: 2vw;
        width: 100%;
        height: 100%;
    }
    .rec2 img{
        width: 100%;
        height: 100%;
    }
    .p22, .p25{
        display: grid;
        gap: 1vw;
        text-align: center;
    }
    .fap1{
        padding: 2vw;
    }
    .pi1{
        margin-bottom: 2vw;
        width: 100%;
    }
    .p15, .p16{
        display: inline;
    }
    .box5{
        display: inline;
    }
    .box6 img{
        width: 97%;
    }
    .box7 img{
        width: 97%;
    }
}
@media screen and (max-width: 600px){
    .eng{
        display: grid;
    }
    .m1, .m2, .m3{
        width: 100%;
        text-align: center;
    }
}